/* Header (Mobile First) */

header {
  background-color: seagreen;
  margin: 0 auto;
}

/* Making sure the subheading color is consistent throughout the header */
header h2 {
  color: #ffffff;
  font-size: 18px;
}


header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 90%;
  justify-content: center;
  max-width: 350px;
}


header nav ul li a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* Header (Desktop */

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }

}

/* Top and Bottom of page text */
h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 2px;
  
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

/* Bottom of page */

h3 {
  background-color: seagreen;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  text-align: center;
  margin: auto;
}

/* Main Text + Lists */

p,
ol,
ul {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  text-align: justify;
}

.item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

main .intro {
  font-size: 20px;
}

/* Images */

img.main {
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
}

img.rounded {
  width: 75%;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* Container Styling */

article {
  margin-top: 30px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid brown;
}

body {
  /*Background Color */
  background-color: lightgray;
  padding: 0px;
}

/* Alignment Classes */

.align-center {
  text-align: center;
  margin: auto;
}

.align-justify {
  text-align: justify;
}

/* Link Elements */

a:link {
  color: seagreen;
}

a:hover {
  color: green;
}

a:active {
  color: darkgreen;
}

/* Groups and Items (Mobile First) */

.wrapper {
  width: 100%;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
