h1,
h3 {
  /* Top and Bottom of page text*/
  background-color: seagreen;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p,
ol,
ul {
  /*Main text on page + Lists */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 500px
    height: 4px
}

body { /*Background Color */
    background-color: lightgray;
    padding: 10px
}

.align-center {
  /* Alignment Class - Center */
  text-align: center;
  margin: auto;
}

.align-justify {
  /* Alignment Class - Justify */
  text-align: justify;
}
.wrapper {
  width: 500px;
  margin: auto;
}

/* Link Coloration */

a:link {
  color: blue;
}
a:visited {
  color: red;
}

a:hover {
  color: lightblue;
}

a:active {
  color: darkblue;
}
